<nav class="navbar navbar-expand-lg navbar-light sticky-top" style="background-color: #e3f2fd;">
    <a class="navbar-brand">Newds</a>
     <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home/主页</a>
      </li>
      <li class="nav-item active">
      <a class="nav-link" href="/archive" id="nav-archive">Archive/收藏</a>
      </li>
      <li class="nav-item active">
      <a class="nav-link" href="/vocabulary">VocabBuilder/单词本</a>
      </li>
      </ul>

        <form class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2" type="text" id='dict-box' placeholder="look up this word... 翻译 " aria-label="Search">
    <button class="btn btn-outline-primary data-toggle="modal" data-target="#dictModal" id="dict-button" type="submit" ">translate</button>
  </form>
    </div>
</nav>

<div class="modal fade" id="dictModal" tabindex="-1" role="dialog" aria-labelledby="dictModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="dictModalLabel"></h5>
      </div>
      <div class="modal-body">
        
      </div>
      <div id="added_vocab" class="invisible alert alert-primary">New word successfully added to your <a href='/vocabulary'>VocabBuilder</a> </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="saveVocab">Add to VocabBuilder</button>
        <button type="button" id="reset-button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
    </div>
  </div>
</div>


<h2 align='center'>Bookmarked Articles:</h2>
<div id='all_archives' class="card-columns" style="margin-top:4em;padding:0 2em 0;">
    {{#each articles}}
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{this.title}}</h5>
        <p class="card-text">{{this.description}}</p>
        <a href={{this.link}} target="_blank">{{this.link}}</a>
        <p class="card-text"><small class="text-muted">{{this.date}}</small></p>
      </div>
    </div>
    {{/each}}
</div>