<link href="https://fonts.googleapis.com/css?family=Work+Sans&display=swap" rel="stylesheet">
<nav class="navbar navbar-expand-lg navbar-light sticky-top" style="background-color: #e3f2fd;">
  <a class="navbar-brand">Newds</a>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home/主页</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/archive" id="nav-archive">Archive/收藏</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/vocabulary">VocabBuilder/单词本</a>
      </li>
    </ul>

    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" id='dict-box' placeholder="look up this word... 翻译 "
        aria-label="Search">
      <button class="btn btn-outline-primary data-toggle=" modal" data-target="#dictModal" id="dict-button"
        type="submit" ">translate</button>
  </form>
    </div>
</nav>

<div class=" modal fade" id="dictModal" tabindex="-1" role="dialog" aria-labelledby="dictModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="dictModalLabel"></h5>
            </div>
            <div class="modal-body">

            </div>
            <div id="added_vocab" class="invisible alert alert-primary">New word successfully added to your <a
                href='/vocabulary'>VocabBuilder</a> </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" id="saveVocab">Add to VocabBuilder</button>
              <button type="button" id="reset-button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
  </div>



  <div id="overlay" onclick="off()">
    <div id="text">
      <a id='asia' href='/news/asia' class='btn btn-primary continent-button'>Asia Pacific</a>
      <a id='africa' href='/news/africa' class='btn btn-primary continent-button'>Africa</a>
      <a id='europe' href='/news/europe' class='btn btn-primary continent-button'>Europe</a>
      <a id='middle_east' href='/news/middle_east' class='btn btn-primary continent-button'>Middle East</a>
      <a id='americas' href='/news/americas' class='btn btn-primary continent-button'>Americas</a>
      <a id='australia' href='/news/australia' class='btn btn-primary continent-button'>Australia</a>
    </div>
  </div>


  <div class="container" onclick="onMap()">
    <div class="row">
      <div class="col">
        <a id='americas' href='/news/americas'>
          <img class="amPNG" src='NorthAmericaAppOutline.png'>
        </a>
      </div>
      <div class="col">
        <a id='africa' href='/news/africa'>
          <img class="amPNG" src='africa_outline.png'>
        </a>
      </div>
      <div class="col">
        <a id='europe' href='/news/europe'>
          <img class="amPNG" src='europefinal.png'>
        </a>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <a id='asia' href='/news/asia'>
          <img class="amPNG" src='asiaandeuropeoutline.png'>
        </a>
      </div>
      <div class="col">
        <a id='middle_east' href='/news/middle_east'>
          <img class="amPNG" src='middle_east.png'>
        </a>
      </div>
      <div class="col">
        <a id='australia' href='/news/australia'>
          <img class="amPNG" src='australiaoutline.png'>
        </a>
      </div>
    </div>
  </div>


  <div id="test" class="on_Location">
    <button onclick="on()">Locations</button>
  </div>


  <div id='article-section' class="masonry">
    {{#each articles}}
    <div class="item">
      <div class="container"><div class='row justify-content-between'>
        <div class='col'><h6 id="date{{@index}}" class="datetext">{{this.publishedAt}} </h6></div>
        <div class='col'><button class="save-btn linkbutton" id="btn{{@index}}" type="button" data-toggle="collapse"
          data-target="#collapseExample{{@index}}" aria-expanded="false" aria-controls="collapseExample"> Save Article
        </button></div>
      </div>
      </div>
      
      
      <h5 id="title{{@index}}" class="titletext"> {{this.title}} </h5>
      <p id="description{{@index}}" class="summarytext">{{this.description}}</p>
      <div align='center'>
      <button class="btn btn-primary article_url" id="url{{@index}}" type="button" data-toggle="collapse"
        data-target="#collapseExample{{@index}}" aria-expanded="false" aria-controls="collapseExample" style="margin-bottom: 1em;">
        Read Article
      </button></div>
      <div class="collapse" id="collapseExample{{@index}}">
        <p class='card' id="content{{@index}}"> {{this.content}} </p>
        <p class='card' id="translate{{@index}}"></p>
        <p id="urltext{{@index}}">{{this.url}}</p> 
      </div>
    </div>
    {{/each}}
  </div>