<link href="https://fonts.googleapis.com/css?family=Work+Sans&display=swap" rel="stylesheet">
<nav class="navbar navbar-expand-lg navbar-light sticky-top" style="background-color: #e3f2fd;">
    <a class="navbar-brand">Newds</a>
     <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home/主页</a>
      </li>
      <li class="nav-item active">
      <a class="nav-link" href="/archive" id="nav-archive">Archive/收藏</a>
      </li>
      <li class="nav-item active">
      <a class="nav-link" href="/vocabulary">VocabBuilder/单词本</a>
      </li>
      </ul>

        <form class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2" type="text" id='dict-box' placeholder="look up this word... 翻译 " aria-label="Search">
    <button class="btn btn-outline-primary data-toggle="modal" data-target="#dictModal" id="dict-button" type="submit" ">translate</button>
  </form>
    </div>
</nav>

<div class="modal fade" id="dictModal" tabindex="-1" role="dialog" aria-labelledby="dictModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="dictModalLabel"></h5>
      </div>
      <div class="modal-body">
        
      </div>
      <div id="added_vocab" class="invisible alert alert-primary">New word successfully added to your <a href='/vocabulary'>VocabBuilder</a> </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="saveVocab">Add to VocabBuilder</button>
        <button type="button" id="reset-button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
    </div>
  </div>
</div>



<a id='asia' href='/news/asia'>Asia Pacific</a>
<a id='africa' href='/news/africa'>Africa</a>
<a id='europe' href='/news/europe'>Europe</a>
<a id='middle_east' href='/news/middle_east' >Middle East</a>
<a id='americas' href='/news/americas' >Americas</a>
<a id='australia' href='/news/australia'>Australia</a>

<div id='article-section' class="masonry">
  {{#each articles}}
  <div class="item"> 
    <h6 id= "date{{@index}}" class= "datetext"> Date: {{this.publishedAt}} </h6>
    <h5 id ="title{{@index}}" class = "titletext"> {{this.title}} </h5> 
    
    <p id = "description{{@index}}" class= "summarytext"> {{this.description}} </p>
      <button class="btn btn-primary article_url"  id="url{{@index}}" type="button" data-toggle="collapse" data-target="#collapseExample{{@index}}" aria-expanded="false" aria-controls="collapseExample">
    {{this.url}}
    </button>
    
    <div class= "collapse" id = "collapseExample{{@index}}">
      <p class='card' id="content{{@index}}"> {{this.content}} </p>
      <p class='card' id="translate{{@index}}"></p>
    </div>

    <button class = "save-btn linkbutton" id="btn{{@index}}" type="button" data-toggle="collapse" data-target="#collapseExample{{@index}}" aria-expanded="false" aria-controls="collapseExample"> Save Article  </button> 
    
      
    
  </div>
  {{/each}}
</div>

